#title{
    text-align: center;
    padding: 180px 0;
    color: white;
    font-family: Courier;
    font-size: 89px;
    pointer-events: none;
    cursor: default;
}

#titleShadow{
    position: absolute;
    text-align: center;
    color: black;
    font-family: Courier;
    font-size: 89px;
    top: 124px;
    left: 45px;
    pointer-events: none;
    cursor: default;
}

.btn-container{
    text-align: center;
    margin-top: 10%;
}