.container{
    position: absolute;
    top: 30%;
    left: 40%;
}

input{
    margin: 10px 10px 10px 10px;
}

button{
    position: absolute;
    top: 93.5%;
    left: 93.3%;;
}

select{
    position: absolute;
    left: 35%;
    bottom: -36%;
}